@import './../../../../../assets/sass/class-global.scss';
.content {
  .button {
    padding: 50px;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      background: #FFFFFF;
      border: 1px solid rgb(216 186 186 / 50%);
      border-radius: 8px;
      box-shadow: -8px -8px 16px #f6ecec, 8px 8px 8px rgba(155, 164, 194, 0.1);
      width: 100px;
      height: 30px;
    }
  }
  .info {
    padding: 50px;
    width: 80%;
    .card {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 32px;
      .image {
        img {
          width: 100%;
          height: 100%;
          max-width: 571px;
        }
      }
      .info-cnt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .content-info {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 20px;
          .col {
            span {
              display: flex;
              p {
                margin-left: 10px;
              }
            }
          }
        }
        .footer-info {
          display: flex;
          margin-top: 30px;
          p {
            margin-left: 20px;
          }
        }
      }
    }
  }
}
.dark {
  .button {
    a {
      @include darkElements;
    }
  }
}
