@import './colors.scss';
@import './mixins.scss';
.content {
  padding: 16px;
  height: 100%;
  overflow-x: scroll;
}
h1,
h2,
h4,
p {
  color: $lightModeText;
}
.dark {
  background-color: $darkModeBackground;
  h1,
  h2,
  h4,
  p,
  span {
    color: $darkModeText;
  }
}
h2 {
  font-size: 20px;
}
h1 {
  margin: 0;
  font-size: 30px;
}
h4, p {
  margin:  0;
  font-size: 15px;
}

